// Global styling for this template



body {
  @include body-font;
  /*padding-top: 54px;*/
background-color: $gray-900;

  .page-top{


  }

  .preloader-site {
      overflow: hidden;
  }

  .preloader-wrapper {
      height: 100%;
      width: 100%;
      background: $gray-900;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999999;
  }

  .preloader-wrapper .preloader {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

    }

      .lds-ring {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
  #particles-js {
    width: 100% !important;
    height: 100% !important;
    background-color: $gray-900;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
  }

}



@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }

}





h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 400;
  /*text-transform: uppercase;*/
  color: $white;

}

h1 {
  font-size: 4.5rem;
  line-height: 5.0rem;





}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {

  font-size: 1.15rem;
  font-weight: 400;

}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}
