section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
section.name{
  text-align: center;


  .name-item{



  }

}
@media (min-width: 200px) {
  section.name {
    min-height: 100vh;
    .name-item {
      min-height: 100vh;
      .propic{

            max-width: 20rem;
            max-height: 20rem;
            border: 0.5rem solid fade-out($white, 0.8);

      }
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
